<!-- templates/base.html -->
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LDAP Admin</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-4">
        <!-- Simple Navigation Bar -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="{{ url_for('main.index') }}">LDAP Admin</a>
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="{{ url_for('main.index') }}">Home</a>
                <a class="nav-item nav-link" href="{{ url_for('main.add_user') }}">Add User</a>
                <a class="nav-item nav-link" href="{{ url_for('main.groups_management') }}">Groups</a>
                <a class="nav-item nav-link" href="{{ url_for('main.modify_group_members') }}">Modify Group</a>
                <a class="nav-item nav-link" href="{{ url_for('main.toggle_block_user') }}">Block User</a>
                <a class="nav-item nav-link" href="{{ url_for('main.delete_user') }}">Delete User</a>
                <a class="nav-item nav-link" href="{{ url_for('main.expire_user') }}">Expire User</a>
                <a class="nav-item nav-link" href="{{ url_for('main.checkbox_form') }}">Checkbox</a>
                {% if 'login' in session %}
                    <a class="nav-item nav-link" href="{{ url_for('main.logout') }}">Logout</a>
                {% else %}
                    <a class="nav-item nav-link" href="{{ url_for('main.login') }}">Login</a>
                {% endif %}
            </div>
        </nav>

        <!-- Flash Messages -->
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="alert alert-dismissible fade show" role="alert">
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }}" role="alert">
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}

        <!-- Page Content -->
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
