<!-- templates/index.html -->
{% extends 'base.html' %}

{% block content %}
    <h1 class="text-center my-4">Welcome to LDAP Admin</h1>

    {% if 'login' in session %}
        <p class="text-center">Hello, <strong>{{ session['login'] }}</strong>! You're logged in.</p>

        <div class="container">
            <div class="row mb-4">
                <div class="col-md-4">
                    <div class="alert alert-primary">Users: <strong>{{ stats.total_users }}</strong></div>
                </div>
                <div class="col-md-4">
                    <div class="alert alert-warning">Blocked: <strong>{{ stats.blocked_users }}</strong></div>
                </div>
                <div class="col-md-4">
                    <div class="alert alert-danger">Users with future expire: <strong>{{ stats.expiring_users }}</strong></div>
                </div>
            </div>
        </div>

        {% if users %}
            <div class="container">
                <table class="table" id="userTable">
                    <thead>
                        <tr>
                            
                            <!-- Dynamiczne generowanie nagłówków kolumn na podstawie cols -->
                            {% for col in cols %}
                                <th>{{ col }} ⬍</th>
                            {% endfor %}
                            <th>Attributes</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in users %}
                        <tr>
                            
                            <!-- Dynamiczne generowanie komórek tabeli na podstawie cols -->
                            {% for col in cols %}
                                <td>{{ user[col] if user[col] else 'N/A' }}</td>
                            {% endfor %}
                            <td>
                                <button type="button" class="btn btn-info btn-sm toggle-attributes" 
                                        data-target="#attributes-{{ loop.index }}">
                                    Show Attributes
                                </button>
                                <div id="attributes-{{ loop.index }}" class="collapse">
                                    <ul>
                                        {% for key, value in user.items() %}
                                            {% if key not in cols %}
                                                <li><strong>{{ key }}:</strong> {{ value }}</li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            <p class="text-center">No users.</p>
        {% endif %}

    {% else %}
        <p class="text-center">Please log in to access the features.</p>
    {% endif %}
    <script src="{{ url_for('static', filename='js/html.js') }}"></script>
{% endblock %}
