{% extends 'base.html' %}

{% block content %}
    <h1 class="text-center my-4">Welcome to LDAP Admin</h1>

    {% if 'login' in session %}
        <p class="text-center">Hello, <strong>{{ session['login'] }}</strong>! You're logged in.</p>

        <div class="container-fluid">
            <div class="row mb-4">
                <div class="col-md-4">
                    <div class="alert alert-primary">Users: <strong>{{ stats.total_users }}</strong></div>
                </div>
                <div class="col-md-4">
                    <div class="alert alert-warning">Blocked: <strong>{{ stats.blocked_users }}</strong></div>
                </div>
                <div class="col-md-4">
                    <div class="alert alert-danger">Users with future expire: <strong>{{ stats.expiring_users }}</strong></div>
                </div>
            </div>
        </div>
    {% else %}
        <p class="text-center">Please log in to access the features.</p>
    {% endif %}
    <script src="{{ url_for('static', filename='js/html.js') }}"></script>
{% endblock %}
